* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.card {
  position: relative;
  height: 80svh;
  color: #fff;

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    padding: 4rem;
  }

  .card__bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .card__head {
    font-size: var(--font-Heading-L);
    font-weight: var(--font-Heading);
  }

  .card__body {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-Body-L);
    font-weight: var(--font-Body);

    .spec {
      font-family: var(--font-Monoface);
    }
  }

  .btn-wrap {
    display: flex;
    gap: 2rem;
  }
  .btn a {
    display: flex;
    align-items: center;
    padding: 2.4rem;
    line-height: 1;
    font-size: var(--font-Body-XL);
    font-weight: bold;

    background-color: var(--black);
    color: var(--white80);

    transition: all 0.6s var(--easeOut);

    &:hover {
      background-color: #444;

      color: rgba(255, 255, 255, 1);
      border-radius: 3.6rem;
    }
  }
}
