@charset "utf-8";

:root {
  --font-Monoface: "Commit Mono", "Pretendard", sans-serif;
  --font-Satoshi: "Satoshi", "Pretendard", sans-serif;

  --font-Title-L: min(36rem, 18.75vw);

  --font-Label: 400;
  --font-Label-M: 2rem;

  --font-Heading: 700;
  --font-Heading-L: 7.2rem;
  --font-Heading-M: 3.6rem;

  --font-subHeading: 700;
  --font-subHeading500: 500;
  --font-subHeading-L: 2.8rem;
  --font-subHeading-M: 2rem;

  --font-Body: 400;
  --font-Body-M: 1.8rem;
  --font-Body-L: 2rem;
  --font-Body-XL: 2.2rem;

  --font-Btn: 700;
  --font-Btn-M: 2.4rem;

  --padding-x: 4rem;
  --padding-y: 14rem;

  --easeOut: cubic-bezier(0, 0, 0.1, 1);

  --black100: #000;
  --black: #222;
  --bg-white: #eee;
  --bg-white80: rgba(230, 230, 230, 0.8);
  --white: #fff;
  --white80: rgba(255, 255, 255, 0.8);
  --gray9: #999;
  --gray4: #444;
  --darkGray: #333;
  --AccentBlue: #003afd;
}

/* libs */

[data-font="satoshi"] {
  font-family: var(--font-Satoshi);
}
[data-font="commitMono"] {
  font-family: var(--font-Monoface);
}

.content-wrap {
  max-width: min(2560px, 184rem);
  margin: 0 auto;
  box-sizing: border-box;
}

section {
  position: relative;
  z-index: 1;
  overflow: visible;
  > h1 {
    display: none;
  }
}

.section-header {
  display: flex;
  font-size: var(--font-Title-L);
  line-height: 1;
  font-weight: 700;
  border-bottom: 1px solid var(--black);

  @media (max-width: 768px) {
    flex-wrap: wrap;
    padding-inline: var(--padding-x);
  }

  h2 {
    flex-shrink: 0;
  }

  h2 > span {
    display: inline-block;
  }

  > span {
    font-size: 0.3em;
  }
}

.svg-box,
.img-box {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.uppercase {
  text-transform: uppercase;
}

.flex-box {
  display: flex;
}

.hidden {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
}

/* general */

::selection {
  background-color: var(--black100);
  color: var(--white);
}

html {
  font-size: clamp(10px, 0.52083333vw, 16px);
}

body {
  font-family: "D-DIN", "Pretendard", sans-serif;
  background: var(--bg-white);
  color: var(--black);
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-x: hidden;
}

/* style */

/* header */
header {
  position: absolute;
  top: 44.8rem;
  left: 0;
  width: 100vw;
  padding: 2.4rem var(--padding-x);
  z-index: 100;
  background-color: var(--bg-white80);
  border: 0.1rem solid transparent;
  border-top-color: var(--black);
  border-bottom-color: var(--black);
  box-sizing: border-box;
  will-change: transform;
  backdrop-filter: blur(1rem);

  @media (max-width: 768px) {
    top: 80vh;

    nav .pc {
      display: none;
    }

    nav .mob-nav {
      display: block;
    }
  }
}
header.active {
  border-top-color: transparent;
}
header .pc-nav {
  transition: all 2s;
  /* overflow: hidden; */
}
header.mobile-active .pc-nav {
  height: 0;
}

header .pc-nav ul {
  display: flex;
  gap: 3.6rem;

  font-size: 2.4rem;
  font-weight: var(--font-Heading);
  line-height: 1;

  @media (max-width: 768px) {
    justify-content: space-between;
  }

  a {
    position: relative;
    display: flex;
    transition: all 0.2s var(--easeOut);
    opacity: 0.5;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;

      &::after {
        transform: scaleX(1);
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--black);
      transform: scaleX(0);
      transform-origin: left;
      transition: all 0.6s var(--easeOut);
    }
  }

  .date {
    font-weight: 700;
    font-size: 0.5em;
  }

  .skew {
    transform: skew(-15deg);
    will-change: transform;
  }
}

.mob-nav-btn {
  display: none;
  position: relative;
  width: 3rem;
  height: 2.4rem;
  transition: all 0.4s var(--easeOut);

  .line {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 1px;
    background-color: var(--black);
    transition: inherit;
  }

  .line2 {
    top: 66%;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.mob-header {
  position: absolute;
  inset: 0 0 auto 0;
  height: 0vh;
  z-index: 150;
  background-color: var(--bg-white);
  font-size: 4rem;
  font-weight: 700;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 1s var(--easeOut);

  .mob-nav {
    padding: var(--padding-x);
  }

  ul li {
    margin-bottom: 1rem;
    transition: all 0.4s var(--easeOut);
    transform: translateX(-50px);
    opacity: 0;
  }

  ul li:nth-child(1) {
    margin-bottom: 3rem;
    transition-delay: 0.5s;
  }

  ul li:nth-child(2) {
    transition-delay: 0.6s;
  }
  ul li:nth-child(3) {
    transition-delay: 0.7s;
  }
  ul li:nth-child(4) {
    transition-delay: 0.8s;
  }
  ul li:nth-child(5) {
    transition-delay: 0.9s;
  }

  a {
    display: flex;
    width: fit-content;
  }
  .date {
    font-weight: 700;
    font-size: 0.5em;
  }
  .skew {
    transform: skew(-15deg);
    will-change: transform;
  }

  .mob-nav-close.mob-nav-btn {
    position: absolute;
    top: 4rem;
    right: 3rem;

    .line {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    .line2 {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

header.mobile-active .mob-header {
  height: 50vh;
  border-bottom: 1px solid var(--black);

  ul li {
    transform: translate(0);
    opacity: 1;
  }
}

/* .sec-hero */
.sec-hero {
  height: 100vh;
  z-index: 1;

  .content-wrap {
    display: flex;
    padding: 4rem 0;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 4rem 3rem;
    }
  }

  .logo-svg svg {
    max-width: 100%;
  }

  .text-box {
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 0.4rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1;

    @media (max-width: 768px) {
      width: fit-content;
    }

    span {
      width: fit-content;
    }

    .date {
      font-size: 3.6rem;
      font-weight: 400;
      transform: skew(-15deg);
    }
  }

  .sec-bg {
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    height: calc(100vh - 6rem);
    background-image: linear-gradient(var(--darkGray) 0.1rem, transparent 0.1rem), linear-gradient(90deg, var(--darkGray) 0.1rem, transparent 0.1rem);
    background-size: 4.2rem 4.2rem;
    opacity: 0.1;
    margin: 3rem;
    box-sizing: border-box;
    border: 0.1rem solid var(--darkGray);
  }
}

/* marquee */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(var(--marquee-width));
  }
}
.marquee-container {
  width: 100%;
  /* height: 6.6rem; */
  background-color: var(--AccentBlue);
  color: var(--white);
  overflow: hidden;

  .marquee-wrap {
    display: flex;
    /* width: 100%; */
    height: 100%;

    animation: marquee 10s infinite linear;
  }

  .marquee-slide {
    flex-shrink: 0;
    display: flex;
    gap: 2rem;

    font-family: var(--font-Monoface);
    font-weight: 700;
    padding: 2rem 0 2rem 2rem;
  }
}

/* section about */
.sec-about .content-wrap {
  padding: var(--padding-y) 0;
}

.sec-about .flex-box {
  gap: 2rem;
  padding: 8rem 0;
  flex-wrap: wrap;

  > div {
    flex: 1 1 0;
  }
}

.sec-about .box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .img-box img {
    width: 29rem;
  }

  h4 {
    font-size: var(--font-Heading-M);
    font-weight: 500;
  }
  h5 {
    font-size: var(--font-Body-M);
    font-weight: 500;
  }
  span {
    display: block;
    color: var(--gray9);
  }
}
.sec-about .box-2 {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .grid-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 2rem;
    font-size: var(--font-Body-XL);

    @media (max-width: 768px) {
      display: block;
      text-align: center;
      padding-inline: 2rem;
    }

    dt {
      font-size: var(--font-subHeading-L);
      font-weight: var(--font-subHeading500);
      margin-bottom: 1.6rem;
      grid-area: 1/1/1/6;
    }

    dd:nth-child(2) {
      grid-area: 2/1/2/3;
    }
    dd:nth-child(3) {
      grid-area: 2;
    }
    dd:nth-child(4) {
      grid-area: 3/1/3/3;
    }
    dd:nth-child(5) {
      grid-area: 3/3/3/4;
    }
    dd:nth-child(6) {
      grid-area: 4/1/4/3;
    }
    dd:nth-child(7) {
      grid-area: 4;
    }
  }

  .date {
    color: var(--gray9);
    font-size: var(--font-Body-L);
  }
}

.sec-about .grid-box.exp {
  dd:nth-child(2) {
    grid-area: 2 / 1 / 2 / 3;
  }
  dd:nth-child(3) {
    grid-area: 2 / 4;
  }
  dd:nth-child(4) {
    grid-area: 3 / 1 / 3 / 4;
  }
  dd:nth-child(5) {
    grid-area: 3 / 4;
  }
  dd:nth-child(6) {
    grid-area: 4 / 1 / 4 / 4;
  }
  dd:nth-child(8) {
    grid-area: 5 / 1 / 5 / 5;
  }
  dd:nth-child(9) {
    grid-area: 5 / 4;
  }
  dd:nth-child(10) {
    grid-area: 6 / 1 / 6 / 3;
  }
  dd:nth-child(11) {
    grid-area: 6 / 4 / 6 / 6;
  }
}
.sec-about .grid-box.skill {
  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > dt {
      grid-area: 1 / 1 / 1 / 3;
    }

    > dd {
      grid-area: initial;
    }
  }

  dd:nth-child(2) {
    grid-area: 2/1;
  }
  dd:nth-child(4) {
    grid-area: 3/1;
  }
  dd:nth-child(5) {
    grid-area: 3;
  }
  dd:nth-child(6) {
    grid-area: 4/1;
  }
  dd:nth-child(7) {
    grid-area: 4;
  }
  dd:nth-child(8) {
    grid-area: 5/1;
  }
  dd:nth-child(9) {
    grid-area: 5;
  }
  dd:nth-child(10) {
    grid-area: 6/1;
  }
  dd:nth-child(11) {
    grid-area: 6;
  }
}

/* sec-wroks */
.sec-works .content-wrap {
  padding: var(--padding-y) 0;
}
.sec-works .work-list-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.sec-works .work-list-item {
  flex-shrink: 0;
  padding: 2.4rem 0;
  border-bottom: 0.1rem solid var(--black);
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;

  .inner {
    display: flex;
    gap: 2rem;
    height: 100%;
    overflow: hidden;
    padding-inline: 2rem;
    box-sizing: inherit;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      padding-inline: var(--padding-x);
    }
  }

  .box-1 {
    flex-shrink: 0;
    width: 100%;
    max-width: min(90vw, 60rem);
    font-size: var(--font-Body-L);

    .label {
      margin: 0 0 1rem 0.4rem;
      font-weight: 700;
      line-height: 1;
      color: var(--gray9);
    }
    .work-name {
      font-size: var(--font-Heading-L);
      font-weight: var(--font-Heading);
      margin-bottom: 0.8rem;
      line-height: 1;
    }
    .skills {
      font-weight: 700;
    }
    .desc {
      margin-top: 4rem;
      line-height: 1.7;
    }
    .roll {
      margin-top: 1rem;
      opacity: 0.7;
      font-size: var(--font-Body-M);
    }
    .btn-wrap {
      display: flex;
      gap: 2rem;
      padding-top: 4rem;
    }
    .btn a {
      display: flex;
      align-items: center;
      padding: 2.4rem;
      line-height: 1;
      font-size: var(--font-Body-XL);
      font-weight: bold;

      background-color: var(--black);
      color: var(--white80);

      transition: all 0.6s var(--easeOut);

      &:hover {
        background-color: #444;

        color: rgba(255, 255, 255, 1);
        border-radius: 3.6rem;
      }
    }
  }

  .box-2 {
    flex-grow: 1;
    overflow: hidden;
    border-radius: 1.6rem;
    height: fit-content;

    .img-box {
      height: 60rem;
      align-items: start;

      @media (max-width: 768px) {
        height: 40svh;
      }
    }

    img {
      object-position: top;
      width: 100%;
      height: 100%;
    }
  }
}

.img-box[data-hover="true"] {
  overflow: hidden;
  img {
    transition: all 0.6s var(--easeOut);
  }

  &:hover {
    img {
      transform: scale(1.02);
    }
  }
}

/* sec project */
.sec-project .card__container {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

.card {
  position: relative;
  height: 80svh;
  color: #fff;

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    padding: 4rem;
  }

  .card__bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .card__head {
    font-size: var(--font-Heading-L);
    font-weight: var(--font-Heading);
  }

  .card__body {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-Body-L);
    font-weight: var(--font-Body);

    .spec {
      font-family: var(--font-Monoface);
    }
  }

  .btn-wrap {
    display: flex;
    gap: 2rem;
  }
  .btn a {
    display: flex;
    align-items: center;
    padding: 2.4rem;
    line-height: 1;
    font-size: var(--font-Body-XL);
    font-weight: bold;

    background-color: var(--black);
    color: var(--white80);

    transition: all 0.6s var(--easeOut);

    &:hover {
      background-color: #444;

      color: rgba(255, 255, 255, 1);
      border-radius: 3.6rem;
    }
  }
}

/* footer */

footer {
  background-color: var(--black);
  color: var(--bg-white);
}
footer .section-header {
  gap: 2rem;
}
footer .grid-box {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 15rem 30rem;
  grid-template-rows: repeat(3, 3rem);
  align-content: end;
  row-gap: 1rem;

  box-sizing: border-box;
  padding: 0 0 3rem;

  font-size: var(--font-Body-L);
  font-weight: 400;

  @media (max-width: 768px) {
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
  }

  .btn {
    transition: all 0.6s var(--easeOut);
    a {
      transition: inherit;
      position: relative;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        display: block;
        top: -0.6rem;
        left: -1.2rem;
        width: 100%;
        height: 100%;
        padding: 0.6rem 1.2rem;
        background-color: transparent;
        z-index: -1;
        border-radius: 9rem;
        transition: inherit;
      }
    }
  }
  .btn:nth-child(4) {
    a:hover {
      color: #e92b0f;

      &::after {
        background-color: var(--white);
      }
    }
  }

  .btn:nth-child(5) {
    a:hover {
      color: var(--white);

      &::after {
        background-color: var(--black100);
      }
    }
  }
  .btn:nth-child(6) {
    a:hover {
      color: transparent;
      background: linear-gradient(to right, #f7b700, #e2476c, #5e2fc2);
      background-clip: text;
      -webkit-background-clip: text;
      &::after {
        background-color: var(--white);
      }
    }
  }
}
footer .copyright {
  padding: var(--padding-y) 0 2rem;
  text-align: end;

  @media (max-width: 768px) {
    text-align: center;
  }
}

/* cursor */
.cursor {
  opacity: 1;

  > div {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--black);
    pointer-events: none;
    z-index: 99;
  }

  .x {
    width: 100%;
    height: 0.1rem;
  }
  .y {
    height: 100%;
    width: 0.1rem;
  }
}
.circle {
  position: fixed;
  top: 0;
  left: 0;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 99rem;
  pointer-events: none;
  backdrop-filter: invert(1);
  -webkit-mask: radial-gradient(circle closest-side, transparent calc(100% - 0.2rem), black calc(100% - 0.2rem));
  mask: radial-gradient(circle closest-side, transparent calc(100% - 0.2rem), black calc(100% - 0.2rem));
  z-index: 98;
  box-sizing: border-box;
  opacity: 0.5;
  will-change: transform;
  transform: translate(-50%, -50%);

  @media (max-width: 768px) {
    display: none;
  }
}

/* loading page */
.loading-page {
  position: fixed;
  z-index: 200;
  inset: 0 0 0 0;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--black100);
  color: var(--white);
  padding: 4rem;
  box-sizing: border-box;

  opacity: 0;
  visibility: hidden;
  transition: all 1s var(--easeOut);
}

.loading-page.active {
  opacity: 1;
  visibility: visible;
}

.loading-page .text-box {
  display: flex;
  flex-direction: column;
  font-size: var(--font-Body-M);
  max-width: 102.4rem;
  margin: 0 auto;
  height: 100%;

  span {
    display: inline-block;
  }

  .text-field {
    display: flex;
    margin-top: auto;

    input {
      flex-grow: 1;
    }
  }

  input[type="text"] {
    background-color: transparent;
    border: none;
    stroke: none;
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: var(--font-Body-L);
    padding-inline: 0;
    padding-block: 0;
    font-family: var(--font-Monoface);
  }
  input[type="text"]:focus {
    border: none;
    stroke: none;
    outline: none;
  }
}
@media (max-width: 768px) {
  :root {
    --font-Title-L: 9rem;

    --font-Label-M: 2rem;

    --font-Heading-L: 4.2rem;
    --font-Heading-M: 3.2rem;

    --font-subHeading-L: 2.8rem;
    --font-subHeading-M: 2rem;

    --font-Body-M: 1.6rem;
    --font-Body-L: 1.8rem;
    --font-Body-XL: 2rem;

    --font-Btn-M: 1.8rem;

    --padding-x: 2rem;
    --padding-y: 10rem;
  }
}
